body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* background: url('https://www.cdc.gov/healthyweight/images/assessing/bmi-adult-fb-600x315.jpg'); */
  /* background-color: rgb(69, 252, 69); */
  background-color: rgb(153, 153, 140);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  /* justify-content: center; */
}
.calculation-part{
  width: 30vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(241, 224, 224);
  align-items: center;
  padding: 50px;
  /* background-color: limegreen; */
  background: linear-gradient(45deg,rgb(38, 94, 150),rgb(180, 180, 38),rgb(97, 41, 31),rgb(63, 136, 136));
  border-radius: 20px;
}
input{
  margin: 20px;
  width: 75%;
  height: 35px;
  border: 1px solid red;
  border-radius: 9px;
  outline: none;
  letter-spacing: 1px;

  font-size: 1rem;
}
input:focus{
  border-color: green;
}
button {
  margin: 20px;
  cursor: pointer;
  width: 180px;
  height: 50px;
  text-transform: uppercase;
  background-color: blue;
  border: none;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
button:hover {

  background-color: rgb(27, 27, 141);

}

.result {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}
.status {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
/* .before-heading {

  padding: 1px 5px;

  background-color: blue;
  color: blue;
  margin-right: 10px;
}
.after-heading {

  padding:1px 5px;

  background-color: blue;
  color: blue;
  margin-left: 10px;
} */